@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html, body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;
  color: white;
}

main {
  position: relative;
}

.pagelink {
  position: absolute;
  top: 0;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.sky-container {
  position: absolute;
  top:0;
  left:0;
}

p {
  margin: 30px 0px;
}


h1 {
  font-family: Lato, sans-serif;
  font-size: 80px;
  margin-left: 20px;
  margin-bottom: 0px;

  & + span {
    font-size: 40px;
    font-family: Lato, sans-serif;

    display: inline-block;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

section.main-page {
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
}

.moving-background {
  z-index: 1;

  pointer-events: none;
  display: block;
  position: fixed;
  right: 0px;
  top: 0;
  width: 100%;
  height: 100vh;

  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 40%, rgba(40, 70, 96, 0.7) 90%);
}

.stars-background {
  pointer-events: none;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

$moon-size: 24vw;
$sun-size: 40vw;

.orb {
  z-index: 2;
  position: absolute;

  right: 300px;
  top: 250px;

  transform: translateX(50%) translateY(-50%);

  transition-property: left, right, top;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

}

#moon-img {
  width: $moon-size;
  height: $moon-size;
}

.night {
  background-color: #040e14;
  color: aliceblue;

  & #sun-img {
    right: -$sun-size/2;
    top: 50%;
  }

  & .important-text {
    background-color: rgb(0, 123, 172);
    padding: 10px;
  }

  & .in-text-strong {
    color: rgb(0, 123, 172);
  }
}

#sun-img {
  width: $sun-size;
  height: $sun-size;
}

.day {
  background-color: #315599;
  //color: rgba(5, 18, 36, 0.98);

  & #moon-img {
    right: 50%;
    top: -$moon-size/2;
  }

  & .important-text {
    background-color: rgb(109,185,213);
    padding: 10px;
  }

  & .in-text-strong {
    color: rgb(109,185,213);
  }
}

.content {
  padding: 40px 60px;
  width: 60%;


}

.text-content {
  font-size: 20px;
  //font-weight: 500;
  //border: 4px solid aliceblue;
  border-radius: 10px;

  padding: 50px;
  padding-top: 0px;
  //background: rgba(255, 255, 255, 0.05);
}

.theme-slicer {
  z-index: 1;
  position: absolute;
  right: 50px;
  bottom: 40px;

  cursor: pointer;

  $this-width: 55px;
  $this-height: 25px;



  & span {
    position: relative;
    display: block;

    width: $this-width;
    height: $this-height;
    background-color: aliceblue;
    border-radius: $this-width/2;

    &:before {
      content: '';
      position: absolute;

      $slicerDimmension: $this-height/5*8;

      left: -($slicerDimmension/2 - $this-height/2);
      top: -($slicerDimmension/2 - $this-height/2);

      width: $slicerDimmension;
      height: $slicerDimmension;

      -webkit-box-shadow: 1px 15px 19px -6px #000000;
      box-shadow: 1px 15px 19px -6px #000000;

      background-color: aliceblue;
      background-image: url("../images/sunny.png");
      background-size: contain;

      border: 6px solid aliceblue;
      border-radius: 50%;

      transition: 0.3s;
    }
  }

  & input {
    display: none;
  }

  & input:checked {
    + span:before {

      background-image: url("../images/night.png");

      transform: translateX($this-width - $this-height);
    }
  }
}

.hide {
  opacity: 0;
}

#last-sentence {
  margin-top: 70px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}
